@model Entities.Concrete.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">

         

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exam.ExamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionType)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswer.Option1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswer.Option1)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswer.Option2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswer.Option2)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswer.Option3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswer.Option3)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswer.Option4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswer.Option4)
        </dd>





    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
