@model IEnumerable<Entities.Concrete.Question>

@{
    ViewData["Title"] = "GetQuestionsBySubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Konuya Göre Soru Listesi</h3>

    <table class="table table-hover table-bordered table-striped ">
        <thead>
            <tr class="table-success" style="font-family:'Arial'">
                <th>
                    @Html.DisplayNameFor(model => model.QuestionText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrectAnswer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrectAnswer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exam.ExamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionType)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.QuestionId }, new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Detaylar", "Details", new { id = item.QuestionId }, new { @class = "btn btn-dark btn-sm" }) |
                        @Html.ActionLink("Sil", "Delete", new { id = item.QuestionId }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
