@model IEnumerable<Entities.Concrete.Question>

@{
    ViewData["Title"] = "Sorular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="ml-2">
    Sorular
    <span class="ml-3">

        @Html.ActionLink("Yeni Soru Oluştur", "Create", new { }, new { @class = "btn btn-outline-success" })
    </span>
</h3>

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr class="table-success" style="font-family:'Arial'">
            <th>
                @Html.DisplayName("Soru")
            </th>
            <th>
                @Html.DisplayName("A")
            </th>
            <th>
                @Html.DisplayName("B")

            </th>
            <th>
                @Html.DisplayName("C")
            </th>
            <th>
                @Html.DisplayName("D")
            </th>
            <th>
                @Html.DisplayName("Doğru Cevap")
            </th>
            <th>
                @Html.DisplayName("Sınav Adı")
            </th>
            <th>
                @Html.DisplayName("Sınav Konusu")
            </th>
            <th>
                @Html.DisplayName("Soru Tipi")
            </th>
            <th>
                @Html.DisplayName("İşlemler")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    @item.QuestionAnswer.Option1
                </td>
                <td>
                    @item.QuestionAnswer.Option2

                </td>
                <td>
                    @item.QuestionAnswer.Option3
                </td>
                <td>
                    @item.QuestionAnswer.Option4
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectAnswer)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Exam.ExamName)*@
                    <a href="GetQuestionsByExam/@item.ExamId">    @Html.DisplayFor(modelItem => item.Exam.ExamName)</a>
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)*@
                    <a href="GetQuestionsBySubCategory/@item.SubCategoryId">    @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionType)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.QuestionId }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.QuestionId }, new { @class = "btn btn-dark btn-sm" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.QuestionId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
