@model IEnumerable<Entities.Concrete.Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-left:5px">Sorular</h3>
<h2></h2>
<div>
    @Html.ActionLink("Yeni Soru Oluştur", "Create", new { }, new { @class = "btn btn-success" })
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Soru")
            </th>
            <th>
                @Html.DisplayName("A")
            </th>
            <th>
                @Html.DisplayName("B")

            </th>
            <th>
                @Html.DisplayName("C")
            </th>
            <th>
                @Html.DisplayName("D")
            </th>
            <th>
                @Html.DisplayName("Doğru Cevap")
            </th>
            <th>
                @Html.DisplayName("Sınav Adı")
            </th>
            <th>
                @Html.DisplayName("Sınav Konusu")
            </th>
            <th>
                @Html.DisplayName("Soru Tipi")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    @item.QuestionAnswer.Option1
                </td>
                <td>
                    @item.QuestionAnswer.Option2

                </td>
                <td>
                    @item.QuestionAnswer.Option3
                </td>
                <td>
                    @item.QuestionAnswer.Option4
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectAnswer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.QuestionId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.QuestionId }, new { @class = "btn btn-dark" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.QuestionId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
