@model IEnumerable<Entities.Concrete.Question>

@{
    ViewData["Title"] = "GetQuestionsByExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left:5px">Sınavın Soruları</h2>


<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr class="table-success" style="font-family:'Arial'">
            <th>
                @Html.DisplayName("Soru Metni")
            </th>
            <th>
                @Html.DisplayName("Doğru Cevap")
            </th>
            <th>
                @Html.DisplayName("Sınav")
            </th>
            <th>
                @Html.DisplayName("Konu")
            </th>
            <th>
                @Html.DisplayName("Soru Tipi")
            </th>
            <th>
                @Html.DisplayName("İşlemler")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectAnswer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionType)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.QuestionId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.QuestionId }, new { @class = "btn btn-dark" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.QuestionId }, new { @class = "btn btn-danger" })
                    
                </td>
            </tr>
        }
    </tbody>
</table>
