@model IEnumerable<Entities.Concrete.Exam>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-left:5px">Sınav Listesi</h3>

<div>
    @Html.ActionLink("Yeni Sınav Oluştur", "Create", new { }, new { @class = "btn btn-success" })
</div>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr class="table-success" style="font-family:'Arial'">
            <th>
                @Html.DisplayName("Ders")
            </th>
            <th>
                @Html.DisplayName("Sınav Adı")
            </th>
            <th>
                @Html.DisplayName("Süre")
            </th>
            <th>
                @Html.DisplayName("Soru Sayısı")
            </th>

            <th>
                @Html.DisplayName("Geçer Not")
            </th>
            <th>
                @Html.DisplayName("Başlangıç Tarihi")
            </th>
            <th>
                @Html.DisplayName("Bitiş Tarihi")
            </th>
            <th>
                @Html.DisplayName("Aktif mi?")
            </th>

            <th>
                @Html.DisplayName("İşlemler")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a href="GetQuestionsByExam/@item.ExamId">    @Html.DisplayFor(modelItem => item.ExamName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfQuestions)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SuccessGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.ExamId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.ExamId }, new { @class = "btn btn-dark" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.ExamId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
