@model ExamProject.UI.ViewModels.CategoriesViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var viewDataStore = ViewData["category"];
}

<h3>Kategori Detayları</h3>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayName("Kategori ID")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Kategori Adı")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Konular")
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.SubCategory)
            {
             
                    @Html.DisplayFor(modelItem => item.SubCategoryName)
         
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Category.CategoryId">Düzenle</a> |
    <a asp-action="Index">Listeye dön</a>
</div>
