@model Entities.Concrete.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kategori Detayları</h3>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayName("Kategori ID")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Kategori Adı")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Konular")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategories)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Düzenle</a> |
    <a asp-action="Index">Listeye dön</a>
</div>
