@model IEnumerable<Entities.Concrete.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h3 style="margin-left:5px">Dersler</h3>

<div>
    @Html.ActionLink("Yeni Ders Oluştur", "Create", new { }, new { @class = "btn btn-success" })
</div>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr class="table-success" style="font-family:'Arial'">
            <th>
                @Html.DisplayName("Ders Adı")
            </th>
            <th>
                @Html.DisplayName("İşlemler")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>


                    @Html.ActionLink("Düzenle", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.CategoryId }, new { @class = "btn btn-dark" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.CategoryId }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }
    </tbody>
</table>
