@model Entities.Concrete.SubCategory

@{
    ViewData["Title"] = "Detaylar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Konu Detayları</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Konu Adı")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Kategori Adı")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubCategoryId">Düzenle</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
