@model IEnumerable<Entities.Concrete.SubCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="ml-2">
    Konular
    <span class="ml-3">
        @Html.ActionLink("Yeni Konu Oluştur", "Create", new { }, new { @class = "btn btn-outline-success" })
    </span>
</h3>

<table class="table table-hover table-bordered table-striped ">
    <thead>
        <tr class="table-success" style="font-family:'Arial'">
            <th>
                @Html.DisplayName("Konu Adı")
            </th>
            <th>
                @Html.DisplayName("Ders")
            </th>
            <th>
                @Html.DisplayName("İşlemler")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="GetQuestionsBySubCategory/@item.SubCategoryId">    @Html.DisplayFor(modelItem => item.SubCategoryName)</a>
                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>

                    @Html.ActionLink("Düzenle", "Edit", new { id = item.SubCategoryId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.SubCategoryId }, new { @class = "btn btn-dark" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.SubCategoryId }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }
    </tbody>
</table>
